.element__like-button {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border: 0;
    display: block;
    width: 22px;
    height: 19px;
    background-image: url('../../../images/elements_like.svg');
    background-size: cover;
    outline: none;
}

.element__like-button:hover {
    opacity: .5;
    cursor: pointer;
}

.element__like-button:active {
    background-image: url('../../../images/elements_like_active.svg');
}